customCommands:
  - key: "<c-x>"
    description: "Pick AI commit"
    context: "files"
    command: 'git commit -m "{{.Form.Msg}}"'
    prompts:
      - type: "menuFromCommand"
        title: "AI Commits"
        key: "Msg"
        command: "lazycommit commit"
        filter: "^(?P<raw>.+)$"
        valueFormat: "{{ .raw }}"
        labelFormat: "{{ .raw | green }}"
